:root {
  --red: #e00000;
  --light-red: #ff0000;
  --light-grey: #8c8c8c;
  --grey: #666666;
  --dark-grey: #454546;
  --yellow: #ff9800;
  --light-yellow: #ffc340;
  --black: #272727;
  --white: #ffffff;
  --light-blue: #2196f3;
  --dimmed-blue: #0eb1d218;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
